---
---

html {
    font-family: 'Oxygen', sans-serif;
}

main {
    background-color: #FFFFFF;
    margin: auto;
    max-width: 800px;
    padding: 15px;
}

#name {
    display: inline-block;
}

nav {
    float: right;
    margin-top: 40px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: green;
    margin-right: 15px;
    :hover {
        color: lightgreen;
    }
}

.social-icon {
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    color: white;
    display: inline-block;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 64px;
    margin: 8px;
}

.social-icon.github {
    background-color: #181717;
}

.social-icon.linkedin {
    background-color: #0077B5;
}

.social-icon.twitter {
    background-color: #1DA1F2;
}

.social-icon.instagram {
    background-color: #E4405F;
}

#social-footer {
    margin-top: 12px;
    text-align: center;
}