---
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="Codes? Where you're going, you'll need codes.">
    <meta name="author" content="Tom Joynt">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="https://use.fontawesome.com/f27e0bf105.js"></script>
</head>
<body>
<main>
    <!-- Header. -->
    <header>
        <img id="tom" src="/assets/img/tom.png" />
        <h1 id="name">Tom Joynt</h1>

        <nav id="nav-bar">
            {% assign nav_items = site.html_pages | sort: 'nav-position' | reverse %}
            {% for page in nav_items %}
            <a href="{{ page.url }}">
                <span>{{ page.title }}</span>
            </a>
            {% endfor %}
        </nav>
    </header>
    {{ content }}
</main>
</body>
</html>
