---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}
    </title>
    <meta
      name="description"
      content="Codes? Where you're going, you'll need codes."
    />
    <meta name="author" content="Tom Joynt" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Oxygen"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script src="https://use.fontawesome.com/f27e0bf105.js"></script>
  </head>
  <body>
    <main>
      <!-- Header. -->
      <header>
        <img id="tom" src="/assets/img/tom.png" />
        <h1 id="name">Tom Joynt</h1>

        <nav id="nav-bar">
          {% assign nav_items = site.pages | where_exp:"item", "item.section" |
          | sort: 'nav-position' %} {% for page in nav_items %}
          <a href="{{ page.url }}">
            <span>{{ page.title }}</span>
          </a>
          {% endfor %}
        </nav>
      </header>
      {{ content }}
    </main>
  </body>
</html>
